body {
    background-color: black;
    height: 100%;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    overflow: hidden;
}

.theme-border{
    background-color: black;
    color: lightgreen;
    border-color: chartreuse;
}

.editor {
    height: calc(100vh - 70px);
    width: calc(100% - 10px);
    margin-top: 30px;
    resize: none;
}

#dialog {
    position: absolute;
    top: 25px;
    left: 100px;
    display: none;
    background-color: blue;
    width: 400px;
    height: 300px;
}

.menu {
    position: absolute;
    background-color: black;
    border: 2px solid lightgreen;
    color: lightgreen;
    height: 14px;
    overflow: hidden;
    border-radius: 6px;
    padding: 5px;
    text-align: center;
}

#statusbar {
    position: absolute;
    background-color: black;
    color: lightgreen;
    width: 100%;
    padding: 0;
    margin-top: 0;

}